<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinahelth">

    <application
        android:name=".HealthApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/helth_app_name"
        android:theme="@style/Theme.ChinaHealth">

        <activity
            android:name=".HealthMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
